---
title: 'Homepage'
---

{% extends "_layout/base.html.twig" %}
{% import "_component/news/latest.html.twig" as news %}
{% block main %}

<ul>
    {% for job in jobs %}
      <li>{{ job.title }}</li>
    {% endfor %}
</ul>

<ul>
    {% for people in peoples %}
      <li>{{ people.name }} {{people.lastname}}</li>
    {% endfor %}
</ul>
{% endblock %}
